{% extends "extractor/base.html" %}
{% load tz %}

{% block page_title %}JD OptionCode{% endblock %}

{% block breadcrumb %}
  <span class="sep">/</span>
  <span>JD OptionCode</span>
{% endblock %}

{% block topbar_title %}JD Option Codes{% endblock %}

{% block content %}

  {% include "extractor/components/stat_bar.html" %}

  <div class="main-grid">
    {% include "extractor/components/token_auth_card.html" %}
    {% include "extractor/components/chassis_card.html" %}
    {% include "extractor/components/history_card.html" %}
  </div>

  {% include "extractor/components/modals/manual_auth_modal.html" %}
  {% include "extractor/components/modals/upload_excel_modal.html" %}
  {% include "extractor/components/modals/auth_progress_modal.html" %}
  {% include "extractor/components/modals/implement_progress_modal.html" %}
  {% include "extractor/components/modals/log_detail_modal.html" %}

{% endblock %}

{% block scripts %}
  {% include "extractor/components/dashboard_scripts.html" %}
{% endblock %}
